<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Kargo Hesap</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
<div id="kargohesap">
    <select v-model="secilen">
    <option v-for="kargohesap in kargohesap" >{{kargohesap.sehir}}</option>
    </select>
    <ul>
        <li v-for="kargohesap in kargohesap" v-if="kargohesap.sehir==secilen">
          <h1>{{ kargohesap.sehir }}</h1>
          <h1>KG: {{ kargohesap.kg }}</h1>
          <h1>B2C: {{ kargohesap.b2c }}</h1>
          <h1>KDV Oranı: %{{ kargohesap.kdvoran }}</h1>
          <h1>Fiyat: {{ kargohesap.kg * kargohesap.kdvoran }}₺</h1>
        </li>
      </ul>
</div>
    <script>
        var kargohesap = new Vue ({
          el: '#kargohesap',
          data: {
              total: 0,
              secilen: "Adana",
              kargohesap: [
                  {
                      sehir: 'Adana',
                      kg: 1, 
                      b2c: 0,
                      kdvoran: 18
                  },
                  {
                      sehir: 'Adıyaman',
                      kg: 2, 
                      b2c: 0,
                      kdvoran: 1.23
                  },
                  {
                      sehir: 'Afyon',
                      kg: 3, 
                      b2c: 0,
                      kdvoran: 0
                  }                  
              ]
          }
          }
        )
        </script>
</body>
</html>